h1{
    font-weight: bold;
    text-align: center;
    font-size: 1000%
}

.rose{
    background-color: #Fe277e;
    color: white;

    display: grid;
    width: 100%;
    grid-template-columns: 30% 70%;
    align-items: start;
    justify-content: space-between;

    box-shadow: 2px 2px 2px 1px #Fe277e;
}

.noir{
    background-color: #47Ead0;
    color: white;

    display: grid;
    width: 100%;
    grid-template-columns: 70% 30%;
    align-items: start;
    justify-content: space-between;
}

.blanc{
    background-color: #FFFFFF;
    color: black;

    display: grid;
    width: 100%;
    grid-template-columns: 70% 30%;
    align-items: start;
    justify-content: space-between;
}


.contenu {
    max-width: 1500px;
    width: 100%;
    margin: 50px auto 0 auto;

    display: flex;
    justify-content: center;
    flex-basis: auto;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
}

