#darkshop{
    background: linear-gradient(rgb(94, 94, 94), black);
}

#darkshop h1{
    color: aliceblue;
}

html{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1{
    font-weight: bold;
    font-family: "Bebas Neue";
    text-align: center;
    font-size: 1000%;

    margin: 0;
}

h2{
    font-family: "Roboto";
    text-align: center;
    font-size: 250%;
}

h3{
    text-align: center;
}

h3 a{
    font-family: "Roboto Mono";
    color: black;
    font-size: 200%;
}

h3 a:hover{
    background-color: #47Ead0;
}

p{
    font-size: larger;
}

.rose{
    background-color: #Fe277e;
    color: white;

    display: grid;
    width: 100%;
    grid-template-columns: 30% 70%;
    align-items: start;
    justify-content: space-between;

    box-shadow: 2px 2px 2px 1px #Fe277e;

    text-align: center;

    padding: 2px;
}

.gris{
    background-color: #7f7b7c;
    color: white;

    display: grid;
    width: 100%;
    grid-template-columns: 30% 70%;
    align-items: start;
    justify-content: space-between;

    text-align: center;

    padding: 2px;
}

.noir{
    background-color: #47Ead0;
    color: black;

    display: grid;
    width: 100%;
    grid-template-columns: 70% 30%;
    align-items: start;
    justify-content: space-between;

    text-align: center;
    
    padding: 2px;
}

.blanc{
    background-color: #FFFFFF;
    color: black;

    display: grid;
    width: 100%;
    grid-template-columns: 70% 30%;
    align-items: start;
    justify-content: space-between;

    text-align: center;

    padding: 2px;
}

.contenu p:not(fieldset p){
    margin-top: 15%;
}


.contenu {
    max-width: 1500px;
    width: 100%;
    margin: 50px auto 0 auto;

    display: flex;
    justify-content: center;
    flex-basis: auto;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
}

#reseaux{
    text-align: center;
}

#happy_guy{
    margin-right: 130px;
}

fieldset{
    text-align: justify;
}

fieldset>img{
    align-items: flex-end;
}



/* RESPONSIVE */


@media (max-width: 1000px){
    .contenu img{
        display: none;
    }
    fieldset{
       columns: 2;
    }
}