.triste{
    height: 150px;
    width: 150px;
}

.article{
    background-color: #545454ae;
    width: 98%;
    margin-bottom: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.articleext{
    background-color: #545454ae;
    width: 98%;
    margin: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.extra{
    background-color: #545454ae;
    width: 98%;
    margin-bottom: 5px;    
    border: solid, yellow;
}

#lightshop{
    display: block;
    height: 100%;
}

#darkshop{
    background: linear-gradient(rgb(94, 94, 94), black);
    padding-bottom: 50px;
}

section{
    display: flex;
    overflow: hidden;
    text-align: center;
    justify-content: space-around;
}

.z1{
    background-color: white;
}

.z2{
    background-color: white;
}

.z1l{
    background-color: white;
}

.z2l{
    background-color: white;
}

.part{
    height: 25%;
}

.z1, .z2{
    background-color: white;
    color: #fe277e;
    border: .2rem solid #fe277e;
    border-radius: 50%;
    display: inline-block;
    font-size: 1.8rem;
    font-weight: 900;
    height: 3rem;
    line-height: 1.6;
    position: relative;
    width: 3rem;
    z-index: 2;
}

.z1l, .z2l{
    background-color: white;
    color: black;
    border: .2rem solid black;
    border-radius: 50%;
    display: inline-block;
    font-size: 1.8rem;
    font-weight: 900;
    height: 3rem;
    line-height: 1.6;
    position: relative;
    width: 3rem;
    z-index: 2;
}

.z1::after,.z1::before,.z2::after, .z2::before{
    background-color: #fe277e;
    content: "";
    height: .2rem;
    position: absolute;
    top: 50%;
    width: 300%;
    z-index: 1;
}

.z1l::after,.z1l::before,.z2l::after, .z2l::before{
    background-color: black;
    content: "";
    height: .2rem;
    position: absolute;
    top: 50%;
    width: 300%;
    z-index: 1;
}

.ligned {
    margin-top: 10px;
    margin-left: 10%;
    margin-right: 10%;
    height: 60%;
}

.lignel {
    margin-top: 10px;
    margin-left: 10%;
    margin-right: 10%;
    height: 60%;
}

.z1::before, .z2::before{
    right: 3rem;
}

.z1::after, .z2::after{
    left: 3rem;
}

.z1l::before, .z2l::before{
    right: 3rem;
}

.z1l::after, .z2l::after{
    left: 3rem;
}

::after,::before{
    box-sizing: inherit;
}

.bas{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

h1{
    font-family: Bebas Neue;
    font-size: xx-large;
}

h2{
    font-family: Roboto;
}

h3{
    font-family: Roboto;
}

#l{
    color: black;
}

#d{
    color: #fe277e;
}

.gauchel{
    display: flex;
    align-items: center;
    width: 60%;
    min-width: min-content;
    background-color: rgba(199, 199, 199, 0.538);
    margin-right: 15px;
    height: fit-content;
    padding: 10px;
    flex-direction: column;
    margin-bottom: 5px;
}

.gauched{
    display: flex;
    align-items: center;
    width: 60%;
    min-width: min-content;
    background-color: rgba(199, 199, 199, 0.538);
    margin-right: 15px;
    height: fit-content;
    padding: 10px;
    flex-direction: column;
    border: solid, yellow;
    margin-bottom: 5px;
}

.ttre{
    font-weight: bold;
}

.droitel{
    padding: 10px;
    flex-direction: column;     
    display: flex;
    margin-left: 15px;
    width: 20%;
    min-width: max-content;
    max-width: 30%;
    background-color: #c3c3c3;
    height: min-content;
}

.droited{
    padding: 10px;
    flex-direction: column;     
    display: flex;
    margin-left: 15px;
    border: solid, yellow;
    width: 20%;
    min-width: max-content;
    max-width: 30%;
    background-color: #fe277e;
    height: min-content;
}

hr{
    width: 100%;
}

.valpanierd{
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgba(152, 105, 105, 0.558);
    color: black;
}

.valpanier{
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgba(128, 127, 127, 0.438);
    color: black;
}

.prix{
    display: flex;
    justify-content: space-between;
    margin-top: 2.5px;
    margin-bottom: 2.5px;
}

.valpanierd:hover{
    background-color: #707070;
}

.valpanier:hover{
    background-color: #707070;
}

.valcoded{
    color: black;
    background-color: rgba(152, 105, 105, 0.558);
    width: 10%;
    padding: 3px;
}

.valcode{
    color: black;
    background-color: rgba(128, 127, 127, 0.438);
    width: 10%;
    padding: 3px;
}

.valcoded:hover{
    background-color: #707070;
}

.valcode:hover{
    background-color: #707070;
}

#cp{
    height: 18px;
    resize: none;
    width: 70%;
}

.code{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    margin-top: 2px;
}

.tt{
    text-align: left;
    margin-bottom: 5px;
}

.tt{
    font-weight: bold;
}

span {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;    
}

.ligned>.part>p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #fe277e;
}

.lignel>.part>p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.mtn{
    text-decoration: underline;
}

a{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.exopack{
    background-color: #545454ae;
    width: 98%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 10px;
    border: solid, yellow;
}

.packtitle{
    padding: 5px;
}

.img_art{
    height: 250px;
    width: 150px;
}

.desc{
    display: flex;
    flex-direction: column;
}

.Prixpack {
    font-weight: bold;
    text-align: right;
    width: 90%;
}

.prix{
    font-weight: bold;
}

.reduc{
    color: #707070;
    text-decoration: line-through;
}

/* test header **/

body{
    margin: 0;
}

a{
    text-decoration: none;
}

header{
    display: flex;
    height: 80px;
    align-items: center;
    background-color: black;
}

.nav_header{
    margin-left: 40px;
    min-width: 300px;
}

.nav_header>a{
    color: white;
    padding: 10px;
    background-color: purple;
    border-radius: 50px;
    margin-left: 15px;
}

.nav_header>a:hover{
    background-color: rgba(128, 0, 128, 0.497);
}

header>img{
    height: 100%;
}

.head{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.switch{
    margin-right: 25px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
  
.slider {
    position: absolute;
    cursor: pointer;
    border-radius: 50px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}
  
.slider:before {
    position: absolute;
    border-radius: 50px;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}
  
input:checked + .slider {
    background-color: purple;
}
  

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

footer{
    background-color: black;
}

footer>div{
    color: white;
}
