
body{
    margin: 0;
}

a{
    text-decoration: none;
}

header{
    display: flex;
    height: 80px;
    align-items: center;
    background-color: black;
    font-family : "Gill sans"
}

.nav_header{
    margin-left: 40px;
}

.nav_header>a{
    color: white;
    padding: 10px;
    background-color: purple;
    border-radius: 50px;
    margin-left: 15px;
}

.nav_header>a:hover{
    background-color: rgba(128, 0, 128, 0.497);
}

header>img{
    height: 100%;
}

.head{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.switch{
    margin-right: 25px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
  
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}
  
.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}
  
input:checked + .slider {
    background-color: #2196F3;
}
  

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}




body{
    font-family: "Roboto";
}


#darkshop .bouton-cat{
    display: flex;
    background-color: #FE277E;
    box-shadow: #47EAD0 0 0 4px 2px;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    border-radius: 15px;
    justify-content: center;
    margin: auto;
    margin-top: 30px;

}
#darkshop .bouton-cat:hover{
    background-color: #47EAD0;
    color: #FE277E;
    box-shadow: #FE277E 0 0 4px 2px;

    

}


#lightshop .bouton-cat{
    display: flex;
    background-color: #7f7b7c;
    box-shadow: #000000 0 0 4px 2px;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    border-radius: 15px;
    justify-content: center;
    margin: auto;
    margin-top: 30px;

}
#lightshop .bouton-cat:hover{
    background-color: #4b4b4b;
    color: #ffffff;
    box-shadow: #7f7b7c 0 0 4px 2px;

}



#lightshop{
    display: flex;
    background-color: #0C0F0A;
    color: white;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #ffffff;
    padding-bottom: 20px;
    padding-top: 20px;

}

#darkshop{
    display: flex;
    background-color: #0C0F0A;
    color: white;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgb(94, 94, 94), black);
    padding-top: 20px;
    padding-bottom: 20px;

}



.titre h1{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    font-size: 100px;
    font-family: "Bebas Neue";


}

.arnaque{
    font-size: 3px;
}

h3{
    display: flex;
    justify-content: center;
    background-color: rgb(127, 127, 127);
    width: fit-content;
    margin: auto;
    padding: 5px;
    border-radius: 15px;
}

.titre h4{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    font-size: 60px;
    font-family: "Roboto";



}

#darkshop .titre{
    color: #FE277E;
    height: 70vh;
}

.titre{
    color: rgb(57, 41, 76);
    height: 70vh;
}


.categorie{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 20px;
    flex-direction: row;
    animation: fadeInSlide 1.5s ease forwards;
}

.hidden{
    display: none;
}


#lightshop .article>img{
    width: 80%;
    margin: 20px;
    border-radius: 15px;
    box-shadow: 0 0 3px 1px #acacac; 
    align-self: center;


}

#lightshop .article{
    margin:50px;
    box-shadow: 0 0 12px 8px #7c797a; 
    background: #ccc;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 350px;
    justify-content: center;
    color : #030303;
    border-radius: 15px;
    
}


#darkshop .article>img{
    width: 80%;
    margin: 20px;
    border-radius: 15px;
    box-shadow: 0 0 3px 1px #FE277E; 
    align-self: center;


}

#darkshop .article{
    margin:50px;
    box-shadow: 0 0 12px 8px #FE277E; 
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 350px;
    justify-content: center;
    color : #FCFE19;
    border-radius: 15px;
    
}
.article>h2{
    padding-left: 10px;
}
.article>p{
    padding-left: 10px;
}   

#lightshop .article>button{
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #b7b7b7;
    color: rgb(0, 0, 0);
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    border-radius: 15px;
    width: 50%;
    align-self: center;
}
#lightshop .article>button:hover{
    background-color: #979797;
    color: white;
    box-shadow: #000000 0 0 4px 2px;
}


#darkshop .article>button{
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #caf3ec;
    color: #df9bb6;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    border-radius: 15px;
    width: 50%;
    align-self: center;
}
#darkshop .article>button:hover{
    background-color: #47EAD0;
    color: #FE277E;
    box-shadow: #FE277E 0 0 4px 2px;
}

.categorie span {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
}

.titre{
    animation : reveal;
    animation-duration: 2s;
}

.bouton-cat{
    animation : reveal;
    animation-duration: 4s;
}



@keyframes reveal {
    from {
        transform: scale(0);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
    
}
@keyframes fadeInSlide {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}