body{
    font-size: 20px;
    margin: 0px;
    overflow-x: hidden;
}

/*Contenu de la page*/

/* Texte défilant */
.messagedefilant {
    display: block;
    margin: 40px auto;
    padding: 0;
    overflow: hidden;
    position: relative;
    width: 50%;
    width: 1550px;
    height: 150px;
}
   
.messagedefilant div {
    position: absolute;
    min-width: 100%; 
}
   
.messagedefilant div span, .messagedefilant div:after {
    position: relative;
    display: inline-block;
    font-size: 150px;
    white-space: nowrap;
    top:0;
}
   
.messagedefilant div span {
    animation: defilement 10s infinite linear;
}
   
.messagedefilant div:after {
    position: absolute;
    top:0; left:0;
    content:attr(data-text);
    animation: defilement2 10s infinite linear;
}
   
@keyframes defilement {
    0% { margin-left: 0; }
    100% { margin-left: -100%; }
}
   
@keyframes defilement2 {
    0% { margin-left: 100%; }
    100% { margin-left: 0%; }
}




.SloganTitre{
    text-align: center;
    font-size: 65px;
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;
    position: relative;
    
    font-size: 65px;
    z-index: 1;
}

span{
    font-size: 150px;
    margin: 0px;
}

h2{
    margin-top: 0px;
    font-size: 75px;
    text-align: center;
}

h3{
    font-size: 50px;
}

#Crane{
    align-items: center;
}

section{
    margin-top: -40px;
}

#description{
    text-align: center;
    font-size: 22px;

    padding: 10px;
    margin-left: 200px;
    margin-right: 200px;
    border-radius: 10px;

}

.container_pack{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 200px; 
}
.container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  
    flex-wrap: wrap;
    gap: 100px;

    margin-bottom: 50px;
}

.container_text{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    
    margin-top: 100px;

    flex-wrap: wrap;
    gap: 100px;}
  
.item{
    padding: 30px;
    border-radius: 10px;
    font-size: 20px;
}

.Dark{
    background-color: #Fe277e;
    color: white;
    box-shadow: 3px 3px rgb(155, 0, 179), -1em 0 .4em rgb(162, 0, 51);
}

.Dark:hover{
    background-color: #ad1250;
    box-shadow: 3px 3px rgb(109, 0, 125), -1em 0 .4em rgb(104, 0, 33);
}

.Sombre{
    color: white;
}

.Light{
    background-color: #7f7b7c;
    color: black;
}

.Light:hover{
    background-color: rgb(80, 80, 80);
}

.clair{
    color: black;
}

.bouton{
    padding: 10px;
    text-align: center;

}
